extends ../layout.pug 

block content

    //- Navigation
    ul.nav.nav-tabs
        li.nav-item 
            a.nav-link(href="/dashboard/trap") /trap   
        li.nav-item 
            a.nav-link(href="/dashboard/redirect") /redirect
        li.nav-item 
            a.nav-link.active(href="/dashboard/serve") /serve

    //- Serve entries
    each data, id in locals.serves
        form(action="/dashboard/serve", method="POST")
            input(type="hidden", name="action", value="delete")
            input(type="hidden", name="id", value=`${id}`)

            div.input-group.mb-3
                div.input-group-prepend
                    a(href=`/serve/${id}`)
                        span.input-group-text /serve/#{id}
                input.form-control(type="text", name="content", value=data.content, readonly=1)
                div.input-group-append
                    button.btn.btn-danger(type="submit") delete

        hr

    //- Add button
    button.btn.btn-info(type="button", data-toggle="modal" data-target="#add-serve-modal") +

    //- Add modal (hidden on load)
    div#add-serve-modal.modal.fade(role="dialog")
        div.modal-dialog(role="document")

            div.modal-content
                form(action="/dashboard/serve", method="POST")
                    input(type="hidden", name="action", value="add")

                    div.modal-header
                        h4.modal-title Add new content
                        button.close(type="button", data-dismiss="modal") &times;

                    div.modal-body
                        div.input-group.mb-3
                            div.input-group-prepend
                                span.input-group-text ID
                            input.form-control(type="text", name="id", required=1)
                        div.input-group.mb-3
                            div.input-group-prepend
                                span.input-group-text Content
                            textarea(name="content", required=1, style="width: 100%; height: 300px")

                    div.modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Close
                        button.btn.btn-success(type="submit") Save