extends ../layout.pug 

block content
    ul.nav.nav-tabs
        li.nav-item 
            a.nav-link.active(href="/dashboard/trap") /trap   
        li.nav-item 
            a.nav-link(href="/dashboard/redirect") /redirect
        li.nav-item 
            a.nav-link(href="/dashboard/serve") /serve

    div.input-group
        div.input-group-prepend
            span.input-group-text Endpoint
        input.endpoint.form-control(type="text" value="http://"+locals.ip+":"+locals.port+"/trap", readonly=1)
        div.input-group-append
            button.endpoint-copy.input-group-text.btn.btn-primary(onclick="copy_clipboard('.endpoint');") copy
            button.btn.btn-danger(onclick="reset()") reset

    hr

    .content
        if reqs.length
            each req in reqs
                .req-panel.panel.panel-default
                    .req-info.panel-heading
                        span # #{req.index}
                        span= req.remoteAddress
                        span.req-time= req.dateUTCStr
                        
                    .req-data.panel-body
                        pre= req.info_json_str
        