extends ../layout.pug 

block content

    //- Navigation
    ul.nav.nav-tabs
        li.nav-item 
            a.nav-link.active(href="/dashboard/trap") /trap   
        li.nav-item 
            a.nav-link(href="/dashboard/redirect") /redirect
        li.nav-item 
            a.nav-link(href="/dashboard/serve") /serve

    //- Trap endpoint
    form(action="/dashboard/trap", method="POST", onsubmit="return confirm('Are you sure you want to delete all requests?')")
        input(type="hidden", name="action", value="delete")
    
        div.input-group            
            div.input-group-prepend
                span.input-group-text Endpoint
            input#trap-endpoint.form-control(type="text" value="http://"+locals.ip+":"+locals.port+"/trap", readonly=1)
            div.input-group-append
                input.input-group-text.btn.btn-primary(type="button", value="copy", onclick="copy_clipboard('#trap-endpoint');")
                input.input-group-text.btn.btn-primary(type="button", value="reload", onclick="location.href='/dashboard/trap';")
                button.btn.btn-danger(type="submit") reset

    hr

    //- Trapped request entries
    each req in reqs
        .req-panel.panel.panel-default
            .req-info.panel-heading
                span # #{req.id}
                span= req.remoteAddress
                span.req-time= req.dateUTCStr
                
            .req-data.panel-body
                pre= req.info_json_str

        hr


