.req-panel {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #eee;
    box-shadow: 0px 2px 5px #aaa;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.req-info {
    display: flex;
    align-items: center;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

.req-data {
    padding: 0px 20px;
}

.req-method {
    padding: 10px 20px 10px 20px;
    background-color: #3333;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}