html, body {
    font-family: 'Open Sans', sans-serif;
}

@media all and (max-width: 750px) {
    body { padding: 0px 10px; }
}
@media all and (min-width: 750px) {
    body { padding: 0px 20%; }
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin-bottom: 0px;
 }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title, .nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.header > h2 {
    font-size: 20pt;
    padding: 20px 0px;
    color:#222;
}

.req-panel {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 4px;
    background: #eee;
    border: 1px solid #222;
}

.req-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    color: white;
    padding: 2px 5px;
    border-radius: 4px 4px 0px 0px;
}

.req-data {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

.req-time {
    padding: 5px 10px 5px 10px;
    background-color: #3333;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 10pt;
}
