extends layout.pug 

block content
    ul.nav.nav-tabs
        li.nav-item 
            a.nav-link(href="/dashboard/trap") /trap   
        li.nav-item 
            a.nav-link(href="/dashboard/redirect") /redirect
        li.nav-item 
            a.nav-link(href="/dashboard/serve") /serve