extends layout.pug 

block content
    ul.nav.nav-tabs
        li.nav-item 
            a.nav-link(href="/dashboard/trap") /trap   
        li.nav-item 
            a.nav-link.active(href="/dashboard/redirect") /redirect
        li.nav-item 
            a.nav-link(href="/dashboard/serve") /serve

    each data, id in locals.redirects
        form.settings(action="/settings", method="POST")
            div.input-group.mb-3
                div.input-group-prepend
                    a(href=`/redirect/${id}`)
                        span.input-group-text /redirect/#{id}
                input.endpoint.form-control(type="text", name="redirect_url", value=data.dest)
                div.input-group-append
                    input.input-group-text.btn.btn-success(type="submit", value="save")

        hr

                        