html
  head

    title HTTP Request Trap

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap", rel="stylesheet") 

    link(rel="stylesheet", href="/assets/css/style.css")
    script(src="/assets/js/functions.js") 

  body
    form(action="/")
        input(type="submit", value="Back")
    form.settings(action="/settings", method="POST")
        input(type="submit", value="Save Changes")
        br
        br
        strong Redirect to (via /redirect): 
        br
        input(type="input", name="redirect_url", value=locals.redirect_url)
        br
        br
        strong Serve content (via /serve):
        br
        textarea(name="serve_content")= locals.serve_content